/* CSS Dependencies */
@import "../../index.css";
@import "../../App.css";


@media (max-width: 720px) {
    .login-container{
        padding: 2.5rem 1rem;
    }

    .logo-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 2rem 1rem;
    }

    .logo-section img{
        width: 16rem;
    }

    .email-login .btn{
        width: 100%;
    }

    .social-login-btn-grp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .social-login-btn-grp .btn{
        width: 45%;
        height: 110px;
        background-color: transparent;
        color: var(--primary-navy);
        text-align: center;
        border: 1.5px solid var(--primary-flame);

    }
    
}
